


/* Height
--------------------------------------------- */
.h-fill {
    height: -webkit-fill-available;
}
.h-fit {
    height: fit-content;
}

/* Display
--------------------------------------------- */
.flex {
    display: flex;
}

/* Alignment
--------------------------------------------- */

.grid-center {
    display: grid;
    place-items: center;
}

.flex-v-center {
    display: flex;
    align-items: center;
    height: 100%;
}

.flex-h-center {
    display: flex;
    justify-content: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Components Global
--------------------------------------------- */
.g-heading {
    font-size: 28px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
}

/* Image
--------------------------------------------- */
.img-object {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
