

// Syestem Default CSS -----------------------------------
// Global CSS --------------------------------------------




/* Syestem Default CSS
-------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------- */

:root {

    // --blue: #1e90ff;
    // --white: #ffffff;

    a {
        color: $primary;

        &:hover {
            color: $grey;
            text-decoration: none;
        }
    }
}

::-webkit-scrollbar {
    display: none;
}

body {
    font-family: $font-poppins !important;
}

#main-wrapper {
    display: none;
}

main {
    padding: 4vw 0;

    &>section {
        padding: 0 19vw 0 19vw;

        &:not(:first-of-type){
            padding-top:4vw;
        }
        &:not(:last-of-type){
            padding-bottom:2vw;
        }
    }
}

// main.temp-wrapper {
//     margin: 50px 0;
// }


/* Global CSS
-------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------- */

h1.heading{
    width: fit-content;
    text-align: center;
    margin-bottom: 84px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 5px;
    font-weight: 700;
    border-bottom: 2px solid $primary;
}
h2.sub-heading {
    font-weight: 600;
    margin-bottom: 15px;
}
