
//Font
// COPY PASTE CACULATOR http://www.javascriptkit.com/script/cut42.shtml
$vwm: 0.3125vw; //320px; Minimum for Mobile (100/320)
$vwt: 0.13020833333333334vw; //768px; Minimum for Tablet & Above (100/768)
$vw: 0.052083333333333336vw; //1920px; (100/1920)

// Body
$body-bg: #f8fafc;

// Custom-color
$primary: #666;
$secondary: #ccc;

// Colors
$white: #fff;
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb; 
