
/* Blog Archive Page
-------------------------------------------------------- */
main.temp-blog {

    
    .archive-item {
        margin-bottom: 47px;

        p { 
            margin-bottom: 0px;
            
            a {
                color: $primary;
                font-weight: 500;
            }
        }

        a {
            color: $grey;
            // Thumbnail -------------------------------------------
            .post-thumbnail {
                margin: 0;
                img {
                    width: 100% !important;
                    height: 185px !important;
                    object-fit: cover;
                    margin: 0;
                    @include mobiletablet {
                        max-height: 124px;
                        min-height: 85px;
                        height: auto;
                    }
                }
            }
            // Post Title -------------------------------------------
            .post-title {
                font-weight: 600;
                font-size: 16.5px;
                margin-top: 15px;
                margin-bottom: 5px;
                color: #003656;
                text-align: left;
                padding-right: 10px;
            }
            // Post Content -------------------------------------------
            .post-content {
                p {
                    color: #003656;
                    font-size: 13px;
                    line-height: 1.6;
                }
            }
            // Published Date -------------------------------------------
            // .published-date {}
            
        }
        // Author Posts Link -------------------------------------------
        .author-posts {
            a {
                // font-weight: 500;
            }
        } 
    }
}

/* Archive Theme 1 :-
-------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------- */
.archive-theme1 {

    // Hide Metas -------------------------------------------
    .published-date,
    .categories,
    .published-by,
    .author-posts,
    .tags
     {
        display: none;
    }
    
    // Archive Item -------------------------------------------
    // .archive-item {
    // }
    
}