
// Banner ----------------------



// Banner
// --------------------------------------------
.banner {
    height: 100vh;
    background: #666;
    
    img{
        filter: brightness(0.3);
    }
}