

// Banner  --------------------------------------------

.banner-home {
    height: 100vh;
}

// Content  --------------------------------------------

main.temp-home {

    .img-col {
        height: 330px;
    }


    .h-sec2 {
        .box {
            height: 267.59*$vw;
        }
    }
    .h-sec4 {
        img {
                filter: brightness(0.5);
        }
    }

}